@if (control && control.invalid && (control.dirty || control.touched)) {
  <div
    role="alert"
    class="error"
    >
    @if (control.hasError('required')) {
      <p>
        Le champ {{ fieldName }} est obligatoire
      </p>
    }
    @if (control.hasError('maxlength')) {
      <p>
        Le champ {{ fieldName }} est limité à
        {{ control.getError("maxlength").requiredLength }} caractères
      </p>
    }
    @if (control.hasError('pattern')) {
      <p>Le format de l'e-mail est invalide.</p>
    }
  </div>
}
