<div class="collectif">
  <div class="header">
    <h1>Le collectif</h1>
    <p class="subtitle">
      "Silence, on grimpe", c’est un collectif de bénévoles qui s’engagent pour
      la justice sociale et l’accessibilité culturelle. Nous militons pour des
      festivals de films sous-titrés, en accompagnant les événements, en
      sensibilisant le public et en conseillant les équipes de réalisation.
    </p>
  </div>
  <div class="list" role="list">
    <div class="list-item" role="listitem">
      <div class="image">
        <img src="../../../assets/imgs/picto1.png" alt="" />
      </div>
      <div class="title">
        <p>Lister</p>
      </div>
      <div class="description">
        <p>
          Nous partageons toutes les dates de projections accessibles pour que
          tout le monde puisse profiter de films superbes… sans obstacles.
        </p>
      </div>
      <div class="action">
        <a routerLink="/agenda"
          >En savoir plus <span class="sr-only">sur les dates</span></a
        >
      </div>
    </div>
    <div class="list-item" role="listitem">
      <div class="image">
        <img src="../../../assets/imgs/picto2.png" alt="" />
      </div>
      <div class="title">
        <p>Sensibiliser</p>
      </div>
      <div class="description">
        <p>
          Nous sensibilisons et accompagnons les équipes de réalisation et les
          festivals avec des conseils, des témoignages et des ressources
          pratiques pour rendre leurs films et événements inclusifs.
        </p>
      </div>
      <div class="action">
        <a routerLink="/ressources"
          >En savoir plus <span class="sr-only">sur la sensibilisation</span></a
        >
      </div>
    </div>
    <div class="list-item" role="listitem">
      <div class="image">
        <img src="../../../assets/imgs/picto3.png" alt="" />
      </div>
      <div class="title">
        <p>Communiquer</p>
      </div>
      <div class="description">
        <p>
          Nous faisons entendre l’importance de l’accessibilité sur les réseaux
          et dans les festivals : une culture sans barrière, c’est une culture
          qui profite à toutes et à tous.
        </p>
      </div>
      <!--<div class="action">
        <a href="#"
          >En savoir plus <span class="sr-only">sur la communication</span></a
        >
      </div>-->
    </div>
  </div>
</div>
