.popup {
  // display: block;

  flex-direction: column;
  max-height: 30rem;
  //position: fixed;

  margin: 0;
  padding: 1em;

  left: calc((100% / 2) - (30rem / 2));
  top: 35%;

  background-color: var(--bleu-pastel);
  border: 0.2em solid var(--bleu-ocean);

  &::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--noir);
  }

  &-header {
    text-align: right;
  }

  h1 {
    color: var(--bleu-ocean);
    font-size: 1.5em;
    text-align: center;
  }

  button {
    cursor: pointer;
    font-family: var(--main-family);
    padding: 0.5em;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &-close {
    border: 0.1em solid var(--bleu-ocean);
    &:hover,
    &:focus {
      background-color: var(--jaune-pale);
      text-decoration: underline;
    }
  }

  &.open {
    display: block;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
  }

  &-container {
    max-width: 30rem;
    width: 30rem;
    max-height: 30rem;
  }

  &-content {
    color: var(--bleu-ocean);
  }

  &-footer {
    margin-top: 2em;
    text-align: right;

    .button-primary,
    .button-secondary {
      min-width: 7em;
      border-radius: 0.25em;
    }

    .button-primary {
      border: 0.1em solid var(--bleu-ocean);
      background-color: var(--bleu-ocean);
      color: var(--blanc);
      margin-right: 0.5em;

      &:focus,
      &:hover {
        border-color: var(--jaune-pale);
        background-color: var(--jaune-pale);
        color: var(--bleu-ocean);
      }
    }

    .button-secondary {
      border: 0.1em solid var(--bleu-ocean);

      &:focus,
      &:hover {
        border-color: var(--bleu-ocean);
        background-color: var(--jaune-pale);
        color: var(--bleu-ocean);
      }
    }
  }
}
