@use "variables" as vars;

.banner {
  background-color: var(--bleu-ocean);
  height: 120px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  clear: both;
  padding-bottom: 0.5em;
}

.logo {
  width: 20em;
  height: 100%;
  align-content: center;
  border: 0.25em solid transparent;

  @media screen and (max-width: vars.$sm) {
    width: 65%;
  }

  img {
    width: 100%;
  }

  &:focus-visible,
  &:hover,
  &:has(a:focus-visible) {
    border-color: var(--blanc);
  }

  a {
    outline: none;
    border: none;
    &:focus-visible,
    &:hover {
      text-decoration: none;
    }
  }
}

.menu-desktop {
  margin: auto 1em auto 0;

  @media screen and (max-width: calc(vars.$md - 1px)) {
    display: none;
  }

  .row-1 {
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .reseaux-sociaux {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        i {
          margin: 0 0.5em;
          font-size: 2em;
          padding: 0.1em;
          color: var(--blanc);
        }

        a {
          text-decoration: none;
          outline: none;

          &:hover,
          &:focus-visible {
            i {
              background-color: var(--blanc);
              color: var(--bleu-ocean);
            }
          }
        }

        &:first-child {
          i {
            margin-left: 0;
          }
        }
      }
    }
  }

  .navigation {
    ul {
      display: flex;
      text-transform: uppercase;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 1.25em;
        margin: 0 3em;

        @media screen and (max-width: vars.$lg) {
          margin: 0 1em;
        }

        a {
          color: var(--blanc);
          text-decoration: none;
          outline: none;
          border-bottom: 0.25em solid transparent;

          &:hover,
          &:focus-visible {
            border-bottom-color: var(--blanc);
          }
          &.active {
            border-bottom-color: var(--orange);
          }
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .contact {
    align-content: center;
    margin-right: 2em;

    @media screen and (max-width: vars.$lg) {
      margin-right: 0;
    }

    a {
      background-color: var(--bleu-pastel);
      color: var(--bleu-ocean);
      // border: 0.15em solid transparent;
      padding: 0.5em 1em;
      border-radius: 2em;
      text-decoration: none;
      outline: none;
      font-size: 1.2em;
      //  cursor: pointer;

      &:hover,
      &:focus-visible {
        // border-color: var(--bleu-pastel);
        background-color: var(--jaune-pale);
        //color: var(--noir);
        text-decoration: underline;
      }
    }
  }
}

.menu-mobile {
  margin: auto 1em;

  @media screen and (min-width: vars.$md) {
    display: none;
  }

  &-button {
    background-color: var(--bleu-ocean);
    color: var(--blanc);
    border: 0.1em solid var(--bleu-ocean);
    cursor: pointer;
    i {
      font-size: 3em;
    }

    &:focus-visible,
    &:hover {
      background-color: var(--blanc);
      color: var(--bleu-ocean);
    }
  }

  &-navigation {
    display: none;
    &.show {
      display: block;
    }

    width: 100%;
    background-color: var(--bleu-ocean);

    /*  .navigation {
      background-color: var(--bleu-ocean);
      //position: absolute;
    }*/

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 1em;
        border-bottom: 0.1em solid var(--blanc);

        &:last-child {
          border-bottom: none;
        }

        a {
          color: var(--blanc);

          &.active {
            border-bottom-color: var(--orange);
          }

          &:focus-visible {
            color: var(--blanc);
            text-decoration: none;
            outline: none;
            border-bottom: 0.25em solid var(--blanc);
          }
        }

        &:hover {
          background-color: var(--blanc);

          a {
            color: var(--bleu-ocean);
            text-decoration: none;
            outline: none;
            border-bottom: 0.25em solid var(--bleu-ocean);
          }
        }
      }
    }
  }
}
