.library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;

  .picture {
    .item {
      cursor: pointer;
      border: 0.1em solid transparent;

      &:hover,
      &:focus-visible {
        border-color: var(--bleu-ocean);
      }

      img {
        width: 100%;
        height: 250px;
        object-fit: cover; /* ou contain selon ton choix */
        object-position: top;
      }

      p {
        text-align: center;
      }
    }

    .delete {
      position: absolute;
      background-color: var(--bleu-ocean);
      border: 0.1em solid var(--bleu-ocean);

      i {
        font-size: 1.2em;
        color: var(--bleu-ocean);
        padding: 0.15em;
      }

      &:hover,
      &:focus-visible {
        background-color: var(--jaune-pale);
      }
    }
  }
}

::ng-deep dialog:has(.library) {
  .library {
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr)) !important;

    .picture {
      img {
        height: 125px !important;
      }

      p {
        font-size: 80%;
      }
    }
  }
}
