.library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;

  .picture {
    cursor: pointer;
    border: 0.1em solid transparent;

    &:hover,
    &:focus-visible {
      border-color: var(--bleu-ocean);
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover; /* ou contain selon ton choix */
      object-position: top;
    }

    p {
      text-align: center;
    }
  }
}

::ng-deep dialog:has(.library) {
  .library {
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr)) !important;

    .picture {
      img {
        height: 125px !important;
      }

      p {
        font-size: 80%;
      }
    }
  }
}
