@use "form";
@use "variables" as vars;

.formulaire {
  max-width: 900px;
  margin: 2em auto;

  .row {
    &.date {
      display: flex;
      flex-direction: row;
    }
  }

  .group {
    &:first-child {
      margin-right: 0.5em;
    }

    &:has(input[type="checkbox"]) {
      flex-direction: row;
      border: 0.15em solid var(--bleu-ocean);
      border-radius: 0.25em;
      width: calc(50% - 2em);
      padding: 0.5em;

      &:has(:focus-visible),
      &:has(:hover) {
        border-color: var(--orange);
      }

      @media screen and (max-width: vars.$md) {
        width: calc(100% - 2em);
      }
    }
  }

  input[type="checkbox"] {
    margin-right: 0.5em;
    font-size: 1.5em;
  }

  a {
    color: var(--bleu-ocean);
    font-family: var(--main-family);
    border-bottom: 0.25em solid transparent;
    text-decoration: underline;

    &:hover,
    &:focus-visible {
      text-decoration: none;
      border-bottom-color: var(--bleu-ocean);
    }
  }
}
