<div class="agenda">
  <div class="header">
    <h2>Agenda</h2>
  </div>
  <div class="carousel-controls">
    <button (click)="onPreviousClick()">
      <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
      <span class="sr-only">Précédent</span>
    </button>
    <button (click)="onNextClick()">
      <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
      <span class="sr-only">Suivant</span>
    </button>
  </div>
  <div
    class="list"
    role="tablist"
    aria-live="polite"
    aria-relevant="additions text"
  >
    <div
      class="item"
      *ngFor="let item of items"
      [ngClass]="{ active: item.selected }"
      [id]="'item' + item.index"
      role="tabpanel"
      aria-roledescription="slide"
      [attr.aria-label]="item.index + ' sur ' + items.length"
      [tabindex]="item.selected ? 0 : -1"
    >
      <h3>{{ item.titre }} {{ item.index }}</h3>

      <p>{{ item.date }} {{ item.annee }}</p>

      <p>{{ item.lieu }}</p>

      <a [href]="item.siteWeb" target="_blank"
        >Site web
        <span class="sr-only"
          >de l'évènement {{ item.titre }} - Nouvelle fenêtre</span
        >
        <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i
      ></a>

      <ul class="tags">
        <li *ngIf="item.stt">Sous-titrage</li>
        <li *ngIf="item.ad">Audiodescription</li>
        <li *ngIf="item.lsf">LSF</li>
        <li *ngIf="item.transcription">Vélotypie</li>
        <li *ngIf="item.bim">Boucle magnétique</li>
        <li *ngIf="item.pmr">Accès PMR</li>
      </ul>
    </div>
  </div>
</div>
