<div class="collectif">
  <h1>Le collectif</h1>

  <h2>Pour que le cinéma soit accessible à toutes et à tous</h2>

  <p>
    Le <span class="bold">cinéma fait vibrer</span>, fait rêver, fait voyager.
    Il émeut, bouscule, rassemble. Mais encore trop souvent, il
    <span class="bold">laisse de côté</span>
    des millions de spectateurs et de spectatrices.
  </p>

  <p>
    <span class="bold">Silence On Grimpe</span>, c’est un collectif
    <span class="bold"
      >de bénévoles (personnes concernées et/ou professionnelles de
      l’accessibilité)</span
    >
    qui s’engage pour rendre
    <span class="bold"
      >les films de montagne et d’aventure accessibles à toutes et tous</span
    >, qui rassemblent plutôt qu’ils n’excluent.
  </p>

  <p>
    Notre objectif : que <span class="bold">100 % des festivals</span> soient
    accessibles aux
    <span class="bold">6 millions de personnes sourdes et malentendantes</span>
    en France. Des publics qui ont soif de récits, d’images, de sensations. Des
    publics qu’on ne veut plus invisibiliser.
  </p>

  <p>
    Nous accompagnons les
    <span class="bold"
      >réalisateurs, réalisatrices, organisateurs et organisatrices</span
    >
    de festivals à rendre leurs productions inclusives, grâce à :
  </p>

  <ul>
    <li>des <span class="bold">ressources gratuites</span> en ligne,</li>
    <li>
      des <span class="bold">actions de sensibilisation</span> dans les
      festivals et sur les réseaux,
    </li>
    <li>un <span class="bold">accompagnement</span> bienveillant.</li>
  </ul>

  <p>
    Parce que les émotions du cinéma doivent pouvoir se
    <span class="bold">partager sans barrière</span>.
  </p>

  <p>
    Suivez-nous : &#64;silenceongrimpe -
    <a href="https://www.instagram.com/silenceongrimpe/">Instagram</a> |
    <a href="https://www.linkedin.com/company/silenceongrimpe">LinkedIn</a> |
    YouTube
  </p>
</div>
