<div class="collectif">
  <div class="header">
    <h1>Le collectif</h1>
    <p class="subtitle">
      Donner une description super cool et brève du collectif avec ses missions
    </p>
  </div>
  <div class="list" role="list">
    <div class="list-item" role="listitem">
      <img src="../../../assets/imgs/picto1.png" alt="" />
      <p class="title">Lister</p>
      <p class="description">
        Proposer une liste de toutes les dates pour aller voir des films super
        cool et accessibles
      </p>
      <a href="#">En savoir plus <span class="sr-only">sur les dates</span></a>
    </div>
    <div class="list-item" role="listitem">
      <img src="../../../assets/imgs/picto2.png" alt="" />
      <p class="title">Sensibiliser</p>
      <p class="description">
        Sensibiliser et mettre à disposition des informations pour les
        réalisateurs
      </p>
      <a href="#"
        >En savoir plus <span class="sr-only">sur la sensibilisation</span></a
      >
    </div>
    <div class="list-item" role="listitem">
      <img src="../../../assets/imgs/picto3.png" alt="" />
      <p class="title">Communiquer</p>
      <p class="description">
        Communiquer sur les réseaux parce que c’est super
      </p>
      <a href="#"
        >En savoir plus <span class="sr-only">sur la communication</span></a
      >
    </div>
  </div>
</div>
