<div class="collectif">
  <h1>Le collectif</h1>

  <div id="introduction">
    <h2>Pour que le cinéma soit accessible à toutes et à tous</h2>

    <p>
      Le <span class="bold">cinéma fait vibrer</span>, fait rêver, fait voyager.
      Il émeut, bouscule, rassemble. Mais encore trop souvent, il
      <span class="bold">laisse de côté</span>
      des millions de spectateurs et de spectatrices.
    </p>

    <p>
      <span class="bold">Silence, on grimpe !</span>, c’est un collectif
      <span class="bold"
        >de bénévoles (personnes concernées et/ou professionnelles de
        l’accessibilité)</span
      >
      qui s’engagent pour rendre
      <span class="bold"
        >les films de montagne et d’aventure accessibles à toutes et tous</span
      >, qui rassemblent plutôt qu’ils n’excluent.
    </p>

    <p>
      Notre objectif : que <span class="bold">100 % des festivals</span> soient
      accessibles aux
      <span class="bold"
        >6 millions de personnes sourdes et malentendantes</span
      >
      en France. Des publics qui ont soif de récits, d’images, de sensations.
      Des publics qu’on ne veut plus invisibiliser.
    </p>

    <p>
      Nous accompagnons les
      <span class="bold"
        >réalisateurs, réalisatrices, organisateurs et organisatrices</span
      >
      de festivals à rendre leurs productions inclusives, grâce à :
    </p>

    <ul>
      <li>des <span class="bold">ressources gratuites</span> en ligne,</li>
      <li>
        des <span class="bold">actions de sensibilisation</span> dans les
        festivals et sur les réseaux,
      </li>
      <li>un <span class="bold">accompagnement</span> bienveillant.</li>
    </ul>

    <p>
      Parce que les émotions du cinéma doivent pouvoir se
      <span class="bold">partager sans barrière</span>.
    </p>

    <p>
      Suivez-nous : &#64;SilenceOnGrimpe -
      <a href="https://www.instagram.com/silenceongrimpe/">Instagram</a> |
      <a href="https://www.linkedin.com/company/silenceongrimpe">LinkedIn</a> |
      <a href="https://www.youtube.com/@silence.on.grimpe">YouTube</a>
    </p>
  </div>

  <div id="membres">
    <h2>Membres du collectif</h2>

    <div class="list" role="list">
      @for (membre of membres; track $index) {
        <div class="list-item" role="listitem">
          <div class="list-image">
            <img
              alt=""
              [src]="'../../../assets/imgs/trombinoscope/' + membre.img"
            />
          </div>
          <div class="list-description">
            <p class="prenom">{{ membre.prenom }}</p>
            <p class="titre">{{ membre.titre }}</p>
          </div>
        </div>
      }
    </div>
  </div>

  <div id="presse">
    <h2>Revue de presse de "Silence, on grimpe !"</h2>
    <ul>
      <li>
        <a
          href="https://www.vertigemedia.fr/silence-on-grimpe-les-festivals-de-montagne-face-au-defi-de-laccessibilite"
          target="_blank"
          rel="noreferrer noopener"
          >Silence, on grimpe ! Les festivals de films de montagne face au défi
          de l’accessibilité <span class="sr-only">(Nouvelle fenêtre)</span
          ><i
            class="fa-solid fa-arrow-up-right-from-square"
            aria-hidden="true"
          ></i
        ></a>
        - 21/01/2025 - Vertige Média
      </li>
      <li>
        <a
          href="https://informations.handicap.fr/a-sourds-les-films-de-montagne-et-d-aventure-peu-accessibles-37711.php"
          target="_blank"
          rel="noreferrer noopener"
          >Sourds : les films de montagne et d’aventure peu accessibles
          <span class="sr-only">(Nouvelle fenêtre)</span
          ><i
            class="fa-solid fa-arrow-up-right-from-square"
            aria-hidden="true"
          ></i
        ></a>
        - 02/02/2025 - Handicap.fr
      </li>
      <li>
        <a
          href="https://planetgrimpe.com/silence-on-grimpe-le-collectif-qui-eveille-notre-vigilance-sur-laccessibilite-des-films-outdoor/"
          target="_blank"
          rel="noreferrer noopener"
          >« Silence, on grimpe ! », le collectif qui éveille notre vigilance
          sur l’accessibilité des films outdoor
          <span class="sr-only">(Nouvelle fenêtre)</span
          ><i
            class="fa-solid fa-arrow-up-right-from-square"
            aria-hidden="true"
          ></i
        ></a>
        - 11/02/2025 - Planet Grimpe - SOG
      </li>
      <li>
        <a
          href="https://youtu.be/nv9InJs7yrE?feature=shared"
          target="_blank"
          rel="noreferrer noopener"
          >Vidéo : Pas assez de films sous-titrés (SME)
          <span class="sr-only">(Nouvelle fenêtre)</span
          ><i
            class="fa-solid fa-arrow-up-right-from-square"
            aria-hidden="true"
          ></i
        ></a>
        - 11/02/2025 - France 3 - Edition 12/13 et 19/20
      </li>
      <li>
        <a
          href="https://www.montagnes-magazine.com/actus-un-appel-dons-soutenir-film-montagne-hors-commun"
          target="_blank"
          rel="noreferrer noopener"
          >Un appel aux dons pour soutenir un film de montagne hors du commun
          <span class="sr-only">(Nouvelle fenêtre)</span
          ><i
            class="fa-solid fa-arrow-up-right-from-square"
            aria-hidden="true"
          ></i
        ></a>
        - 26/04/2025 - Montagne Magazine
      </li>
      <li>
        <a
          href="https://planetgrimpe.com/silence-devenir-guide-en-etant-sourd-un-court-metrage-unique-en-france/"
          target="_blank"
          rel="noreferrer noopener"
          >“Silence”, devenir guide en étant sourd ? Un court-métrage unique en
          France <span class="sr-only">(Nouvelle fenêtre)</span
          ><i
            class="fa-solid fa-arrow-up-right-from-square"
            aria-hidden="true"
          ></i
        ></a>
        - 30/04/2025 - Planet Grimpe
      </li>
      <li>
        <a
          href="https://www.vertigemedia.fr/silence-documentaire-montagne-accessible"
          target="_blank"
          rel="noreferrer noopener"
          >"Silence", le documentaire montagne 100 % accessible
          <span class="sr-only">(Nouvelle fenêtre)</span
          ><i
            class="fa-solid fa-arrow-up-right-from-square"
            aria-hidden="true"
          ></i
        ></a>
        - 06/05/2025 - Vertige Média
      </li>
      <li>
        <a
          href="https://www.montagnes-magazine.com/actus-quels-les-festivals-films-montagne-les-plus-inclusifs"
          target="_blank"
          rel="noreferrer noopener"
          >Quels sont les festivals de films de montagne les plus inclusifs ?
          <span class="sr-only">(Nouvelle fenêtre)</span>
          <i
            class="fa-solid fa-arrow-up-right-from-square"
            aria-hidden="true"
          ></i
        ></a>
        - 13/06/2025 - Montagnes Magazine
      </li>
      <li>
        <a
          href="https://planetgrimpe.com/une-aide-majeure-dans-laccessibilite-des-films-descalade-en-france/"
          target="_blank"
          rel="noreferrer noopener"
          >Une aide majeure dans l’accessibilité des films d’escalade en France
          <span class="sr-only">(Nouvelle fenêtre)</span>
          <i
            class="fa-solid fa-arrow-up-right-from-square"
            aria-hidden="true"
          ></i>
        </a>
        - 05/10/2025 - PlanetGrimpe
      </li>
      <li>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://planetgrimpe.com/bonne-nouvelle-en-2025-les-festivals-de-films-de-montagne-et-daventure-ont-ete-plus-accessibles-que-jamais-en-france/"
          >Bonne nouvelle ! En 2025, les festivals de films de Montagne et
          d’Aventure ont été plus accessibles que jamais en France
          <span class="sr-only">(Nouvelle fenêtre)</span
          ><i
            class="fa-solid fa-arrow-up-right-from-square"
            aria-hidden="true"
          ></i
        ></a>
        - 10/12/2025 - PlanetGrimpe
      </li>
      <li>
        <a
          href="https://drive.google.com/file/d/1I0CeBQuc2XO6vppXqoJ52j-4vJgXPHaa/view"
          target="_blank"
          rel="noreferrer noopener"
          >Films sous-titrés pour les sourds et malentendants : « La montagne,
          l’autre monde du silence »
          <span class="sr-only">(Nouvelle fenêtre)</span
          ><i
            class="fa-solid fa-arrow-up-right-from-square"
            aria-hidden="true"
          ></i
        ></a>
        - 28/12/2025 - Dauphiné Libéré
      </li>
      <li>
        <a
          href="https://www.montagnes-magazine.com/actus-festivals-cinema-montagne-long-chemin-accessibilite"
          target="_blank"
          rel="noreferrer noopener"
        >
          Festivals de cinéma de montagne : le long chemin de l’accessibilité
          <span class="sr-only">(Nouvelle fenêtre)</span
          ><i
            class="fa-solid fa-arrow-up-right-from-square"
            aria-hidden="true"
          ></i>
        </a>
        - 09/01/2026 - Montagnes Magazine
      </li>
      <li>
        <a
          href="https://www.vertigemedia.fr/accessibilite-fantome-monde-montagne"
          target="_blank"
          rel="noreferrer noopener"
          >Arnaud Guillemot et l’accessibilité fantôme du monde de la montagne
          <span class="sr-only">(Nouvelle fenêtre)</span
          ><i
            class="fa-solid fa-arrow-up-right-from-square"
            aria-hidden="true"
          ></i
        ></a>
        - 21/01/2026 - Vertige Média
      </li>
    </ul>
  </div>

  <div id="videos">
    <h2>Nos dernières vidéos</h2>

    <app-video-gallery [nb]="3"></app-video-gallery>

    <div class="toc">
      <a routerLink="/videos">Voir toutes nos vidéos</a>
    </div>
  </div>
</div>
