<div class="plan-site">
  <h1>Plan du site</h1>

  <div class="sitemap">
    <ul>
      @for (item of menuItems; track item) {
        <li>
          <a [routerLink]="item.path">{{ item.label }}</a>
          @if (item.children && item.children.length > 0) {
            <ul>
              @for (child of item.children; track child) {
                <li>
                  <a [routerLink]="child.path">{{ child.label }}</a>
                </li>
              }
            </ul>
          }
        </li>
      }
    </ul>
  </div>
</div>
