<div class="actualite" *ngIf="actualite">
  <a routerLink="/actualites">
    <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
    <span>Revenir aux actualités</span></a
  >

  <div class="picture" [className]="'img-' + actualite.vignettePosition">
    @if (actualite.vignetteId) {
      <app-display-image
        [id]="actualite.vignetteId"
        [showCredit]="true"
      ></app-display-image>
    }
  </div>

  <h1>{{ actualite.titre }}</h1>

  <p class="date">
    Publié le {{ actualite.datePublication | date: "dd MMMM YYYY" }}
  </p>

  <div [innerHTML]="sanitizeHtml(actualite.html)"></div>
</div>
