@use "variables" as vars;

.actualite {
  max-width: 900px;

  margin: 2em auto 5em auto;

  @media screen and (max-width: vars.$md) {
    margin: 2em 2em 5em 2em;
  }

  .picture {
    margin-top: 2em;
  }

  .date {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 2em;
  }

  h1 {
    text-align: center;
    margin: 1em 0;
  }

  a {
    color: var(--bleu-ocean);
    font-family: var(--main-family);
    border-bottom: 0.25em solid transparent;

    &:hover,
    &:focus-visible {
      text-decoration: none;
      border-bottom-color: var(--bleu-ocean);
    }

    i {
      margin-right: 0.5em;
    }
  }
}

::ng-deep {
  .actualite {
    p:has(img) {
      text-align: center !important;
    }

    img {
      width: 45%;

      @media screen and (max-width: vars.$md) {
        width: 100% !important;
      }
    }

    .picture img {
      height: 300px !important;
    }

    .img-top img {
      object-position: top !important;
    }

    .img-bottom img {
      object-position: bottom !important;
    }

    .img-center img {
      object-position: center !important;
    }

    li {
      margin-bottom: 0;
      line-height: 1.5;
    }

    .credit {
      text-align: center;
      font-size: 90%;
    }

    a {
      color: var(--bleu-ocean);
      border-bottom: 0.25em solid transparent;
      text-decoration: underline;
      &:hover,
      &:focus-visible {
        text-decoration: none;
        border-bottom-color: var(--bleu-ocean);
      }
    }
  }
}
