<div class="ressources">
  <h1>Les bonnes pratiques de sous-titrage</h1>

  <p>
    CHAPÔ :<br />
    <span class="bold"
      >Vous voulez sous-titrer votre film ou vous renseigner sur le
      sous-titrage… Mais vous ne savez pas par où commencer ? "Silence, on
      grimpe !" vous propose une sélection de ressources pour rendre vos films
      et vos événements plus inclusifs pour les personnes sourdes et
      malentendantes.
    </span>
  </p>

  <h2>Conférence “Pourquoi faut-il sous-titrer les films ?”</h2>

  <p>
    Parce que sans eux, 6 millions de personnes sourdes ou malentendantes sont
    exclues de vos histoires. Parce qu’un film, ce n’est pas que de l’image,
    c’est aussi une voix, un récit, une émotion. Parce qu’un simple oubli de
    sous-titres, c’est un public perdu, une expérience gâchée, un message qui ne
    passe pas. Dans cette conférence de 14 minutes, Arnaud Guillemot, alpiniste
    sourd appareillé, interpelle le monde du film de montagne sur
    l’accessibilité : sous-titrer, c’est ouvrir la culture à toutes et tous.
    C’est un acte simple pour que chacun puisse rêver, vibrer, comprendre.
  </p>

  <div class="video">
    <iframe
      src="https://www.youtube.com/embed/E3TzB7NG7qo?si=KiivguUtcZNAjNzt"
      title="YouTube : Sous-titrage & Festivals - VF & VFST - Une autre approche sur la réalisation des films d'aventure."
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>

  <h2>Pourquoi faut-il sous-titrer les films ?</h2>

  <p>
    Aujourd’hui, trop de films sont encore réservés au public entendant à cause
    de l’absence de sous-titres. Penser au sous-titrage, c’est permettre à 6
    millions de personnes sourdes et malentendantes d’avoir accès à de
    formidables événements culturels.
  </p>

  <h2>Qu'est-ce que le sous-titrage SME ?</h2>
  <p>
    SME… on parle de quoi ? Si ce terme ne vous est pas familier, voici tout ce
    qu’il faut savoir sur le sous-titrage Sourd et Malentendant : définition,
    particularités et comment réaliser concrètement un sous-titrage SME. Une
    ressource élaborée par Céline Ripolles, professionnelle du sous-titrage SME.
  </p>

  <div class="toc">
    <a
      href="https://celineripolles.substack.com/p/quest-ce-que-le-sous-titrage-sme"
      >Qu'est-ce que le sous-titrage SME ?</a
    >
  </div>

  <h2>La charte officielle du sous-titrage SME</h2>

  <p>
    Il existe une charte officielle du sous-titrage SME, élaborée par le CSA en
    2011. Elle est signée par le CSA, l’Etat, les grandes chaînes de
    télévisions, les laboratoires de sous-titrage et des représentants
    associatifs. C’est un texte de référence dans l’accessibilité.
  </p>

  <div class="toc">
    <a
      href="https://www.csa.fr/Reguler/Espace-juridique/Les-relations-de-l-Arcom-avec-les-editeurs/Chartes-et-autres-guides/Charte-relative-a-la-qualite-du-sous-titrage-a-destination-des-personnes-sourdes-ou-malentendantes-Decembre-2011"
      >Charte relative à la qualité du sous-titrage à destination des personnes
      sourdes ou malentendantes - Décembre 2011 - Arcom (ex-CSA)
    </a>
  </div>

  <h2>Les outils pour sous-titrer ses vidéos et podcasts</h2>

  <p>
    Ici, on parle concret : quels logiciels utiliser pour le sous-titrage ?
    Sont-ils gratuits ou payants ? Faut-il préférer le sous-titrage automatique
    ou manuel ? <br />Des ressources proposées par Emmanuelle Aboaf,
    développeuse, conférencière tech et sourde.
  </p>

  <div class="toc">
    <a href="https://github.com/emma11y/sous-titres/"
      >Comment sous-titrer vos vidéos et vos podcasts et avec quels outils ?</a
    >
    <a
      href="https://emmanuelle-aboaf.netlify.app/blog/article/comment-bien-sous-titrer-vos-videos"
      >Comment bien sous-titrer vos vidéos ?</a
    >
  </div>

  <h2>Vous organisez un événement ? Consultez la FAQ sous-titrage !</h2>

  <div class="toc">
    <a
      href="https://drive.google.com/file/d/12CWcHWsQodeqAvPpavIR-LmrF_B0THV5/view?usp=drive_link"
      >FAQ - Sous-titrage</a
    >
  </div>
</div>
