@use "variables" as vars;

.ressources {
  max-width: 900px;
  margin: 2em auto;

  @media screen and (max-width: vars.$md) {
    padding: 0 2em;
  }

  h1 {
    text-align: center;
  }

  li {
    margin-bottom: 0.5em;
  }

  a {
    color: var(--bleu-ocean);
    text-decoration: underline;
    border-bottom: 0.25em solid transparent;
    &:focus-visible,
    &:hover {
      text-decoration: none;
      border-bottom-color: var(--bleu-ocean);
    }
  }

  .video {
    margin: auto;
    text-align: center;
    max-width: 600px;
    margin-bottom: 3em;

    iframe {
      width: 100%;
      height: 315px;
    }
  }

  .tac {
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    max-width: 30em;
    justify-self: center;
    text-align: center;

    a {
      background-color: var(--bleu-pastel);
      color: var(--bleu-ocean);
      border: 0.15em solid transparent;
      padding: 0.5em 1em;
      border-radius: 2em;
      text-decoration: none;
      outline: none;
      font-size: 1.2em;
      margin-bottom: 0.5em;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover,
      &:focus-visible {
        border-color: var(--bleu-ocean);
        background-color: var(--jaune-pale);
        //color: var(--noir);
        text-decoration: underline;
      }
    }
  }
}
