<div class="form-component">
  <a routerLink="/admin/films">Revenir aux films</a>

  <fieldset>
    <legend>
      {{ isUpdate ? "Modifier la fiche" : "Créer une nouvelle fiche de film" }}
    </legend>
    <form role="form" #filmForm="ngForm">
      <div class="row">
        <div class="col">
          <div class="group">
            <label for="titre">Titre du film</label>
            <input
              type="text"
              id="titre"
              name="titre"
              [(ngModel)]="form.titre"
              #titre="ngModel"
              required
            />

            <validation-summary [controlModel]="titre" fieldName="titre" />
          </div>
        </div>
        <div class="col">
          <div class="group">
            <div class="group-label-slug">
              <label for="slug" aria-describedby="expSlug">Slug</label>

              <button
                type="button"
                class="generate-slug"
                (click)="onGenerateSlug()"
              >
                Générer un slug
              </button>
            </div>

            <input
              type="text"
              id="slug"
              name="slug"
              [(ngModel)]="form.slug"
              #slug="ngModel"
              required
            />

            <p class="small" id="expSlug">
              Le slug permet de créer une URL spécifique.
            </p>

            <validation-summary [controlModel]="slug" fieldName="slug" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="group">
            <label for="realisateurs">Réalisateur.rice ou producteur.rice</label>
            <input
              type="text"
              id="realisateurs"
              name="realisateurs"
              [(ngModel)]="form.realisateurs"
              #realisateurs="ngModel"
              required
            />

            <validation-summary
              [controlModel]="realisateurs"
              fieldName="realisateurs"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="group">
            <label for="duree">Durée max du film (en minutes)</label>
            <input
              type="number"
              id="duree"
              name="duree"
              [(ngModel)]="form.duree"
              #duree="ngModel"
              required
            />

            <validation-summary [controlModel]="duree" fieldName="duree" />
          </div>
        </div>
        <div class="col">
          <div class="group">
            <label for="anneeDiffusion">Année de diffusion</label>
            <input
              type="number"
              id="anneeDiffusion"
              name="anneeDiffusion"
              [(ngModel)]="form.anneeDiffusion"
              #anneeDiffusion="ngModel"
              required
            />

            <validation-summary
              [controlModel]="anneeDiffusion"
              fieldName="anneeDiffusion"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <fieldset class="group">
            <legend>Qualité des sous-titres</legend>

            <div class="radio-option">
              <input
                type="radio"
                id="qualiteSousTitresProfessionnelle"
                name="qualiteSousTitres"
                value="professionnelle"
                [(ngModel)]="form.qualiteSousTitres"
                #qualiteSousTitres="ngModel"
                required
              />
              <label for="qualiteSousTitresProfessionnelle"
                >Professionnelle</label
              >
            </div>

            <div class="radio-option">
              <input
                type="radio"
                id="qualiteSousTitresAmateur"
                name="qualiteSousTitres"
                value="amateur"
                [(ngModel)]="form.qualiteSousTitres"
              />
              <label for="qualiteSousTitresAmateur">Amateur</label>
            </div>

            <validation-summary
              [controlModel]="qualiteSousTitres"
              fieldName="qualiteSousTitres"
            />
          </fieldset>
        </div>
      </div>
    </form>
  </fieldset>
</div>
