<div class="form-component">
  <a routerLink="/admin/films">Revenir aux films</a>

  <fieldset>
    <legend>
      {{ isUpdate ? "Modifier la fiche" : "Créer une nouvelle fiche de film" }}
    </legend>
    <form role="form" #filmForm="ngForm">
      <div class="row">
        <div class="col">
          <div class="group">
            <label for="titre">Titre du film</label>
            <input
              type="text"
              id="titre"
              name="titre"
              [(ngModel)]="form.titre"
              #titre="ngModel"
              required
            />

            <validation-summary [controlModel]="titre" fieldName="titre" />
          </div>
        </div>
        <div class="col">
          <div class="group">
            <div class="group-label-slug">
              <label for="slug" aria-describedby="expSlug">Slug</label>

              <button
                type="button"
                class="generate-slug"
                (click)="onGenerateSlug()"
              >
                Générer un slug
              </button>
            </div>

            <input
              type="text"
              id="slug"
              name="slug"
              [(ngModel)]="form.slug"
              #slug="ngModel"
              required
            />

            <p class="small" id="expSlug">
              Le slug permet de créer une URL spécifique.
            </p>

            <validation-summary [controlModel]="slug" fieldName="slug" />
          </div>
        </div>
      </div>
    </form>
  </fieldset>
</div>
