@use "table-event";
@use "list";

.actualites {
  table {
    margin-bottom: 2em;

    .id {
      width: 5%;
    }

    .titre {
      width: 50%;
    }

    .datePublication {
      width: 20%;
    }

    .publie,
    .aLaUne {
      width: 10%;
    }

    .actions {
      //   width: 10%;
    }
  }
}
