@use "variables" as vars;
@use "toc";

.agenda {
  padding: 1em 0;
  background-color: var(--gris);

  h2 {
    color: var(--bleu-ocean);
    text-align: center;
    font-size: 1.8em;
  }

  .carousel__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .carousel__viewport {
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    margin: 0 1em;
  }

  .carousel__list {
    list-style: none;
    padding: 0;
    margin: 0;
    //display: contents;

    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .carousel__slide {
    flex: 0 0 100%; /* mobile: 1 élément */
    scroll-snap-align: start;

    @media screen and (min-width: vars.$md) {
      flex-basis: calc((100% - 2rem) / 3); /* desktop: 3 */
    }
  }

  .card {
    margin: 0;
    border: 0.5em solid transparent;
    border-radius: 0.25em;
    background-color: var(--bleu-ocean);
    padding: 1em;

    @media screen and (min-width: vars.$md) {
      height: 300px;
    }

    &:focus-visible,
    &:hover {
      border-color: var(--orange);
    }

    a {
      border-bottom: 0.25em solid transparent;
      &:focus-visible,
      &:hover {
        text-decoration: none;
      }
    }

    ul {
      list-style: none;
      margin: 1em -0.5em;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        padding: 0.5em 1em;
        border-radius: 0.5em;
        margin: 0.5em;
      }
    }

    &:nth-child(even) {
      * {
        color: var(--blanc);
      }

      li {
        background-color: var(--bleu-pastel);
        color: var(--bleu-ocean);
      }

      a {
        &:focus-visible,
        &:hover {
          border-bottom-color: var(--blanc);
        }
      }
    }

    &:nth-child(odd) {
      background-color: var(--bleu-pastel);
      * {
        color: var(--bleu-ocean);
      }

      li {
        color: var(--blanc);
        background-color: var(--bleu-ocean);
      }

      a {
        &:hover,
        &:focus-visible {
          border-bottom-color: var(--bleu-ocean);
        }
      }
    }
  }

  .controls {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.75rem 0;

    button {
      background-color: var(--jaune-pale);
      color: var(--bleu-ocean);
      width: 3em;
      height: 3em;
      border: 0.1em solid var(--bleu-ocean);
      border-radius: 50%;
      cursor: pointer;

      &:hover,
      &:focus-visible {
        background-color: var(--orange);
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    margin-top: 0.5rem;
    flex-wrap: wrap;
  }

  .dot {
    cursor: pointer;
    background: transparent;
    border: 0.1em solid var(--bleu-ocean);

    background-color: var(--bleu-ocean);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0.25em;

    &[aria-current="true"] {
      background-color: var(--jaune-pale);
    }

    &:hover,
    &:focus-visible {
      background-color: var(--orange);
    }
  }

  .toc {
    margin: 2em 0;
    a {
      border: none;
      background-color: var(--jaune-pale);

      &:hover,
      &:focus-visible {
        background-color: var(--orange);
      }
    }
  }
}
