<div class="a-propos">
  <h2>Ils parlent de nous !</h2>

  <div class="list" role="list">
    <div class="list-item" role="listitem">
      <div class="list-image">
        <img
          alt="24ème rencontres Ciné Montagne Grenoble Palais des sports 8-12 novembre 2022"
          src="../../../assets/imgs/cine-montagne.png"
        />
      </div>
      <div class="list-description">
        <p class="title quote">Super !</p>
        <p>"Un plaisir de travailler avec nous parce qu'on a des cookies."</p>
      </div>
    </div>
    <div class="list-item" role="listitem">
      <div class="list-image">
        <img
          alt="Montagne en scène"
          src="../../../assets/imgs/montagne-en-scene-logo.png"
        />
      </div>
      <div class="list-description">
        <p class="title quote"><span lang="en">Wonderfull</span></p>
        <p>
          "Un plaisir de travailler avec nous parce qu'on a vraiment des
          superbes cookies."
        </p>
      </div>
    </div>
    <div class="list-item" role="listitem">
      <div class="list-image">
        <img
          alt="Femmes en montagne - festival de films"
          src="../../../assets/imgs/Logo-FEM.png"
        />
      </div>
      <div class="list-description">
        <p class="title quote">On valide</p>
        <p>
          "Parce que la vie en montagne avec des cookies, c'est vraiment
          indispensable."
        </p>
      </div>
    </div>
  </div>
</div>
