<footer class="footer" role="contentinfo">
  <p class>Suivez-nous sur les réseaux sociaux :</p>

  <ul>
    <li>
      <a href="">
        <span class="sr-only">Facebook</span>
        <i class="fa-brands fa-square-facebook" aria-hidden="true"></i
      ></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/silenceongrimpe">
        <span class="sr-only">LinkedIn</span>
        <i class="fa-brands fa-linkedin" aria-hidden="true"></i
      ></a>
    </li>
    <li>
      <a href="https://www.instagram.com/silenceongrimpe/">
        <span class="sr-only">Instagram</span>
        <i class="fa-brands fa-instagram" aria-hidden="true"></i
      ></a>
    </li>
    <li>
      <a href="">
        <span class="sr-only">YouTube</span>
        <i class="fa-brands fa-youtube" aria-hidden="true"></i
      ></a>
    </li>
  </ul>

  <p>&#64;SilenceOnGrimpe</p>

  <p class="small">
    <a routerLink="/mentions-legales">Mentions légales</a
    ><a routerLink="/admin">Administration</a>
  </p>
</footer>
