<footer class="footer" role="contentinfo">
  <p class>Suivez-nous sur les réseaux sociaux :</p>

  <ul>
    <li>
      <a href="https://www.instagram.com/silenceongrimpe/">
        <span class="sr-only">Instagram</span>
        <i class="fa-brands fa-instagram" aria-hidden="true"></i
      ></a>
    </li>

    <li>
      <a href="https://www.linkedin.com/company/silenceongrimpe">
        <span class="sr-only">LinkedIn</span>
        <i class="fa-brands fa-linkedin" aria-hidden="true"></i
      ></a>
    </li>
    <li>
      <a href="https://www.facebook.com/silenceongrimpe">
        <span class="sr-only">Facebook</span>
        <i class="fa-brands fa-square-facebook" aria-hidden="true"></i
      ></a>
    </li>
    <li>
      <a href="https://www.youtube.com/@silence.on.grimpe">
        <span class="sr-only">YouTube</span>
        <i class="fa-brands fa-youtube" aria-hidden="true"></i
      ></a>
    </li>
  </ul>

  <p>
    <a class="link" href="https://linktr.ee/silenceongrimpe"
      >&#64;SilenceOnGrimpe</a
    >
  </p>

  <p class="small">
    <a class="link" routerLink="/mentions-legales">Mentions légales</a
    ><a class="link" routerLink="/admin">Administration</a>
  </p>
</footer>
