@use "variables" as vars;

.carousel-tablist {
  width: 100%;

  .carousel-inner {
    position: relative;

    .controls {
      box-sizing: border-box;
      position: absolute;
      bottom: 1em;
      z-index: 10;
      display: flex;
      width: 100%;
      height: 100%;
      padding: 0.25em 1.25em 0;

      .tab-wrapper {
        height: 30px;
        text-align: center;
        position: absolute;
        //bottom: 1em;
        width: 98%;
        margin: 0;
        padding: 0;
        z-index: 30;

        // @media screen and (max-width: vars.$lg) {
        bottom: auto;
        top: 2em;
        //}

        [role="tablist"] {
          width: 10em;
          background-color: rgb(255, 255, 255, 0.5);
          padding: 0.5em;
          margin: auto;
          border-radius: 1em;
          border: 0.05em solid var(--bleu-ocean);
        }

        button {
          background: none;
          border: none;

          i {
            border: 0.125em solid var(--bleu-ocean);
            border-radius: 2em;
            color: rgb(0, 0, 0, 0.7);

            &.active {
              color: var(--jaune-pale);
            }
          }

          &:hover,
          &:focus-visible {
            i {
              color: var(--orange);
            }
          }
        }
      }

      .previous,
      .next {
        cursor: pointer;
        position: absolute;
        top: calc(50% - 2.5em);
        height: 5em;
        border: 0.1em solid var(--bleu-ocean);
        background-color: rgb(255, 255, 255, 0.8);

        @media screen and (max-width: vars.$sm) {
          top: 1.15em;
        }

        i {
          color: var(--orange);
          font-size: 2em;
        }

        &:hover,
        &:focus-visible {
          background-color: var(--orange);

          i {
            color: var(--blanc);
          }
        }
      }

      .previous {
        left: 0;
        border-left: none;
      }

      .next {
        right: 0;
        border-right: none;
      }
    }
  }

  .carousel-item {
    display: none;
    position: relative;
    overflow: hidden;
    width: 100%;

    &.active {
      display: block;
    }

    .carousel-image {
      img {
        width: 100%;
        height: 600px;
        object-fit: cover;

        @media screen and (max-width: vars.$md) {
          height: 400px;
        }
      }
    }

    .carousel-caption {
      position: absolute;
      bottom: 0;
      padding: 1.5em;
      color: var(--noir);
      text-align: center;
      background-color: rgb(255, 255, 255, 0.8);
      max-width: 50em;
      z-index: 20;

      &-title {
        a {
          font-size: 2em;
          text-decoration: underline;
          color: var(--noir);
          font-weight: 600;
          margin: 0;
          display: inline-block;
          border-bottom: 0.25em solid transparent;

          @media screen and (max-width: vars.$md) {
            font-size: 130%;
          }

          &:hover,
          &:focus-visible {
            text-decoration: none;
            border-bottom-color: var(--noir);
            outline: none;
          }
        }
      }

      &-body {
        p {
          text-align: left;
          font-size: 1.25em;
          line-height: 1.5;
          margin-bottom: 0;

          @media screen and (max-width: vars.$md) {
            font-size: 100%;
          }
        }
      }
    }
  }
}

::ng-deep {
  .carousel-image {
    .display-image {
      margin: 0 !important;
    }

    img {
      width: 100% !important;
      height: 600px !important;
      object-fit: cover !important;

      @media screen and (max-width: vars.$md) {
        height: 400px !important;
      }
    }
  }
}
