<div class="agenda">
  <h1>Agenda</h1>

  <p class="subtitle">
    Vous cherchez un événement accessible ? Jetez un coup d’œil à notre agenda
    qui liste les engagements des événements.
  </p>

  <div class="agenda-items" role="list">
    @for(item of items; track $index){

    <div class="agenda-item" role="list-item">
      <h2>{{ item.titre }} {{ item.index }}</h2>

      <p>{{ item.date }} {{ item.annee }}</p>

      <p>{{ item.lieu }}</p>

      <a [href]="item.siteWeb" target="_blank"
        >Site web
        <span class="sr-only"
          >de l'évènement {{ item.titre }} - Nouvelle fenêtre</span
        >
        <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i
      ></a>

      <ul class="tags">
        <li *ngIf="item.stt_sme">Sous-titrage SME</li>
        <li *ngIf="item.ad">Audiodescription</li>
        <li *ngIf="item.lsf">LSF</li>
        <li *ngIf="item.transcription">Vélotypie</li>
        <li *ngIf="item.bim">Boucle magnétique</li>
        <li *ngIf="item.pmr">Accès PMR</li>
        <li *ngIf="item.stt">Sous-titrage</li>
      </ul>
    </div>
    }
  </div>
</div>
