<div class="membres-collectif">
  <div class="header">
    <h1>Les membres du collectif</h1>
  </div>

  <div class="list" role="list">
    <div class="list-item" role="listitem">
      <div class="list-image">
        <img alt="" src="../../../assets/imgs/trombinoscope/Arnaud.jpg" />
      </div>
      <div class="list-description">
        <p class="prenom">Arnaud</p>
        <p class="titre">Fondateur et coordinateur</p>
      </div>
    </div>

    <div class="list-item" role="listitem">
      <div class="list-image">
        <img alt="" src="../../../assets/imgs/trombinoscope/Arnaud.jpg" />
      </div>
      <div class="list-description">
        <p class="prenom">Arnaud</p>
        <p class="titre">Fondateur et coordinateur</p>
      </div>
    </div>

    <div class="list-item" role="listitem">
      <div class="list-image">
        <img alt="" src="../../../assets/imgs/trombinoscope/Arnaud.jpg" />
      </div>
      <div class="list-description">
        <p class="prenom">Arnaud</p>
        <p class="titre">Fondateur et coordinateur</p>
      </div>
    </div>

    <div class="list-item" role="listitem">
      <div class="list-image">
        <img alt="" src="../../../assets/imgs/trombinoscope/Arnaud.jpg" />
      </div>
      <div class="list-description">
        <p class="prenom">Arnaud</p>
        <p class="titre">Fondateur et coordinateur</p>
      </div>
    </div>

    <div class="list-item" role="listitem">
      <div class="list-image">
        <img alt="" src="../../../assets/imgs/trombinoscope/Arnaud.jpg" />
      </div>
      <div class="list-description">
        <p class="prenom">Arnaud</p>
        <p class="titre">Fondateur et coordinateur</p>
      </div>
    </div>
  </div>
</div>
