<div class="membres-collectif">
  <div class="header">
    <h2>Les responsables du collectif</h2>
  </div>

  <div class="list" role="list">
    @for(membre of membres; track $index){
    <div class="list-item" role="listitem">
      <div class="list-image">
        <img
          alt=""
          [src]="'../../../assets/imgs/trombinoscope/' + membre.img"
        />
      </div>
      <div class="list-description">
        <p class="prenom">{{ membre.prenom }}</p>
        <p class="titre">{{ membre.titre }}</p>
      </div>
    </div>
    }
  </div>
</div>
