@use "family";

:root {
  --title-family: "Atkinson Hyperlegible", Helvetica, Arial, sans-serif;
  --main-family: "Luciole", Helvetica, Arial, sans-serif;
  --bleu-ocean: #2a304b;
  --bleu-mineral: #5785a1;
  --bleu-pastel: #c3d7e0;
  --orange: #f57f20;
  --jaune-pale: #fae367;
  --blanc: #fafafa;
  --noir: #000000;
  --erreur: #ff0000;
}

html {
  font-family: var(--main-family);
}

body {
  margin: 0;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  font-size: 1em;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  /* fallback height */
  min-height: 100vh;

  /* new small viewport height for modern browsers */
  min-height: 100svh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-family);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
