fieldset {
  border: none;
  margin-top: 2em;

  legend {
    font-size: 2em;
    text-align: center;

    margin-bottom: 1em;
    font-family: var(--main-family);
    color: var(--bleu-ocean);
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 50%;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control {
  margin: 1em;
}

label {
  font-size: 1.25em;
}

select,
textarea,
input[type="text"] {
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  font-family: var(--main-family);
  border: 0.15em solid var(--bleu-ocean);
  border-radius: 0.25em;

  &:hover,
  &:focus-visible {
    border-color: var(--orange);
  }
}

.action {
  color: var(--bleu-ocean);
  background-color: var(--bleu-pastel);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25em;
  font-family: var(--main-family);
  border: none;
  display: block;
  margin: 0.5em auto;

  span {
    vertical-align: sub;
  }

  &:hover,
  &:focus-visible {
    span {
      text-decoration: underline;
    }
    background-color: var(--jaune-pale);
  }
}
