@use "variables" as vars;
@use "table-event";

.liste {
  h2 {
    text-align: center;
    font-size: 2em;
    color: var(--bleu-ocean);
  }

  .filtres {
    margin-bottom: 1em;
  }

  table {
    margin-bottom: 2em;
  }

  &-new {
    margin-bottom: 1em;
    float: right;
  }

  .link,
  a {
    color: var(--bleu-ocean);
    text-decoration: underline;
    border-bottom: 0.25em solid transparent;
    &:focus-visible,
    &:hover {
      text-decoration: none;
      border-bottom-color: var(--bleu-ocean);
    }
  }

  button,
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    i {
      font-size: 1em;
    }

    &:focus-visible,
    &:hover {
      background-color: var(--bleu-ocean);
      color: var(--blanc);
    }
  }

  .button,
  button i {
    padding: 0.25em;
  }
}
