<div class="dashboard">
  <div class="row">
    <div class="col">
      <a routerLink="/admin/import">Importer l'agenda</a>
    </div>
    <div class="col">
      <a routerLink="/admin/evenement">Créer un nouvel évènement</a>
    </div>
    <div class="col">
      <a routerLink="/admin/evenements">Liste des évènements</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a routerLink="/admin/bibliotheque-images"
        >Gérer la bibliothèque des images</a
      >
    </div>
    <div class="col">
      <a routerLink="/admin/actualite">Créer une nouvelle actualité</a>
    </div>
    <div class="col">
      <a routerLink="/admin/actualites">Liste des actualités</a>
    </div>
  </div>
</div>
